div[data-elementor-type="wp-post"] {
	width: 100%;
  	padding: 24px 16px;
	background-color: #F7F6FB;
	.elementor-section-wrap {
		background-color: #fff;
		border: 1px solid #DCDBF0;
		border-radius: 4px;
		max-width: 1030px;
		margin: 0 auto;
		padding: 24px;
	}
	h1 {
		color: #282F6C;
	}
	ul, ol {
		margin-bottom: 12px;
	}
	ol {
		counter-reset: my-awesome-counter;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	ol li {
		counter-increment: my-awesome-counter;
	}
	ol li:before {
		content: counter(my-awesome-counter);
		background: #8289C6;
		border-radius: 4px;
		position: absolute;
		left: 0;
		top: -8px;
		display: block;
		line-height: 32px;
		width: 32px;
		height: 32px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: #ffffff;
	}
	li {
		position: relative;
		padding-left: 48px;
	}
	ol li + li {
 		margin-top: 22px;
	}
	ul li + li {
		margin-top: 8px;
	}
	ul li:before {
		content: "";
		position: absolute;
		background: #8289C6;
		border-radius: 50% 50%;
		width: 6px;
		height: 6px;
		left: 12px;
		top: 5px;
	}
	.elementor-blockquote--skin-border .elementor-blockquote {
		background: -webkit-gradient(linear, left top, left bottom, from(#F4F3FF), to(#F0EFFF));
		background: -o-linear-gradient(top, #F4F3FF 0%, #F0EFFF 100%);
		background: linear-gradient(180deg, #F4F3FF 0%, #F0EFFF 100%);
		border-radius: 8px;
		border: none;
		padding: 32px;
		margin-bottom: 12px;
	}
	.elementor-blockquote footer {
		font-size: 14px;
		font-style: italic;
		font-weight: normal;
	}
	.elementor-blockquote__author {
		font-weight: normal;
	}
	.elementor-blockquote__content {
		padding-left: 36px;
		position: relative;
	}
	.elementor-blockquote__content:before {
		content: "“";
		position: absolute;
		top: -20px;
		left: -5px;
		width: 36px;
		height: 36px;
		font-size: 100px;
		line-height: 1em;
		color: #8289C6;
	}
}