.footer {
	flex-shrink: 0;
	h4 {
		margin-bottom: 20px;
        color: $dark_blue;
    }
	&__top {
		background: #f7f6fb;
		padding: 52px 0 20px 0;
		border-top: 1px solid #dcdbf0;
		border-bottom: 1px solid #dcdbf0;
		@include phone {
			padding-top: 0;
		}
	}
	&__menu {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 0 8%;
		margin-bottom: 40px;
		@include tablet {
			grid-template-columns: 1fr 1fr;
			grid-gap: 36px 4%;
		}
		@include phone {
			grid-template-columns: 1fr;
			grid-gap: 0;
			.col4 {
				border-bottom: 1px solid #DCDBF0;
				cursor: pointer;
				&.active {
					.footer__list {
						display: block;
						padding-bottom: 12px;
					}
					.h4:after {
						transform: rotate(-180deg);
					}

				}
			}
			.h4 {
				padding-top: 22px;
				padding-bottom: 12px;
				margin-bottom: 0;
				position: relative;
				padding-right: 24px;
				&:after {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -12px;
					background-image: url('/img/icon/a-d.svg');
					background-repeat: no-repeat;
					background-position: center;
					transition: all ease-in 0.1s;
				}
			}
		}
	}
	&__list {
		@include phone {
			display: none;
		}
	}
    &__item {
        padding-bottom: 16px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__link {
        display: block;
		font-size: 14px;
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        padding: 3px 0;
		overflow-x: auto;
		white-space: nowrap;
		scrollbar-width: none;
		min-width: 100%;
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			height: 0;
			width: 0;
			display: none;
		}
		-webkit-overflow-scrolling: touch;
        .sprite-vodafone {
            fill: #fe4949;
        }
        .sprite-kievstar {
            fill: #3e9ff7;
        }
		&-divider {
			margin: 0 24px;
			color: #DCDBF0;
		}
    }
    &__contact-item {
        display: flex;
        align-items: center;
        img {
            position: relative;
            top: 2px;
            margin-right: 8px;
        }
    }
    &__number {
        padding-left: 8px;
    }
    &__bottom {
		padding: 30px 0;
		.wrapper {
			display: grid;
			grid-template-areas:
				"adress copyrating fasebook";
			grid-template-columns: 1fr 1fr 1fr;

			@include phone {
				grid-template-areas:
				"adress fasebook"
				"copyrating copyrating"
				;
				grid-template-columns: 1fr  auto;
				row-gap: 40px;
				column-gap: 10px;
			}
		}
    }
	.adress {
		max-width: 270px;
		position: relative;
		padding-left: 32px;
		grid-area: adress;
		font-size: 14px;
		.sprite {
			position: absolute;
			left: 0px;
			top: 0px;
			fill: #6e97ff;
		}
	}
	&__copyrating {
		text-align: center;
		padding: 0 16px;
		color: #6e728e;
		grid-area: copyrating;
		@include phone{
			padding: 0;
			text-align: left;
		}
	}
	.fasebook  {
		grid-area: fasebook;
	}

	&__logo {
		max-width: 90px;
		margin: 0 auto;
		margin-bottom: 12px;
		@include phone{
			display: none;
		}
	}

}
.fasebook {
	justify-self: end;
    display: inline-block;
    border: 1px solid #4657ae;
    border-radius: 4px;
    height: 40px;
    overflow: hidden;
    position: relative;
    max-width: 130px;
    min-width: 130px;
    flex-grow: 2;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        text-align: center;
        height: 40px;
        background-color: #4657ae;
        position: absolute;
        top: 0;
        left: 0;
    }
    .sprite {
        fill: #fff;
    }

    &__text {
        display: inline-block;
        line-height: 40px;
        font-weight: 600;
        font-size: 16px;
        color: #4657ae;
        padding: 0 8px 0 50px;
    }
}
